body.selection-active,
body.selection-active a,
body.selection-active button,
body.selection-active input,
body.selection-active textarea,
body.selection-active select {
  cursor: crosshair !important;
}

body.cs-prevent-select,
body.cs-prevent-select * {
  -webkit-user-select: none !important;
  user-select: none !important;
}
